<% provide(:title, 'About') %>
<header id="aboutHeader">
  <div class="container">
    <h1>About Us!</h1>
  </div>
</header>

<section id="about">
  <div class="container aboutBlog">
    <div data-wow-delay="0.2s" data-wow-duration="2s" class="wow fadeIn about">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis incidunt excepturi hic, nulla neque! Fugit itaque
        atque eius minima fugiat iure aliquid repellat repudiandae soluta facilis molestias animi, hic magni. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Et expedita, deleniti obcaecati error repellat! P ariatur sint quod
        maxime repellat enim magnam fugiat dolor ullam reiciendis ducimus, repellendus unde, natus, corporis.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis incidunt excepturi hic, nulla neque! Fugit itaque
        atque eius minima fugiat iure aliquid repellat repudiandae soluta facilis molestias animi, hic magni. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Et expedita, deleniti obcaecati error repellat! P ariatur sint quod
        maxime repellat enim magnam fugiat dolor ullam reiciendis ducimus, repellendus unde, natus, corporis.</p>
      <blockquote>Aliquam sit amet sapien aliquet, pellentesque augue at, imperdiet lacus. Morbi justo odio, placerat et arcu viverra,
        sodales efficitur nisi. Aliquam vulputate, nisl non porta tincidunt, ex felis laoreet erat, in blandit ante libero
        non nunc. Maecenas ultrices dolor eget odio tempor tempor. Sed et ornare erat. Nulla posuere lobortis sapien, vitae
        fermentum felis commodo non. Morbi volutpat velit fringilla turpis facilisis, eget efficitur nisl eleifend.</blockquote>
    </div>
    <div class="row">
      <div class="team">
        <h2 class="text-center">Managment</h2>
        <div data-wow-delay="0.2s" data-wow-duration="2s" class="wow fadeIn insideMem">
          <div class="col-md-4 col-offset-6 member">
            <div class="inner">
              <figure class="profile">
                <%= image_tag('thumb.jpg', class: 'img-responsive') %>
                  <figcaption class="info">
                    <span class="name">Random Name</span></br>
                    <span class="job-title">Web Designer</span>
                  </figcaption>
              </figure>
            </div>
          </div>
          <div class="col-md-4 col-offset-6 member">
            <div class="inner">
              <figure class="profile">
                <%= image_tag('thumb.jpg', class: 'img-responsive') %>
                  <figcaption class="info">
                    <span class="name">Random Name</span></br>
                    <span class="job-title">Web Designer</span>
                  </figcaption>
              </figure>
            </div>
          </div>
          <div class="col-md-4 col-offset-6 member">
            <div class="inner">
              <figure class="profile">
                <%= image_tag('thumb.jpg', class: 'img-responsive') %>
                  <figcaption class="info">
                    <span class="name">Random Name</span></br>
                    <span class="job-title">Web Designer</span>
                  </figcaption>
              </figure>
            </div>
          </div>
          <div class="col-md-4 col-offset-6 member">
            <div class="inner">
              <figure class="profile">
                <%= image_tag('thumb.jpg', class: 'img-responsive') %>
                  <figcaption class="info">
                    <span class="name">Random Name</span></br>
                    <span class="job-title">Web Designer</span>
                  </figcaption>
              </figure>
            </div>
          </div>
          <div class="col-md-4 col-offset-6 member">
            <div class="inner">
              <figure class="profile">
                <%= image_tag('thumb.jpg', class: 'img-responsive') %>
                  <figcaption class="info">
                    <span class="name">Random Name</span></br>
                    <span class="job-title">Web Designer</span>
                  </figcaption>
              </figure>
            </div>
          </div>
          <div class="col-md-4 col-offset-6 member">
            <div class="inner">
              <figure class="profile">
                <%= image_tag('thumb.jpg', class: 'img-responsive') %>
                  <figcaption class="info">
                    <span class="name">Random Name</span></br>
                    <span class="job-title">Web Designer</span>
                  </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<script>
  wow = new WOW({
    offset: 50
  })
  wow.init();
</script>